.heading {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 3rem 0 1rem 0;
}

.caseContainer {
    padding: 1rem;
    border: solid 0.05rem var(--primary-color);
    border-radius: 1rem;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.05);
    background-color: var(--bg-light);
}

.caseHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.caseTags {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.pills {
    border: solid 0.1rem var(--primary-color);
    border-radius: 4rem;
    padding: 0.3rem 0.5rem;
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--text-light);
    background-color: var(--primary-color);
    transition: all 0.25s ease;
    cursor: pointer;
}

.pills:hover {
    color: var(--text-color);
    background-color: var(--primary-color-light);
}

.caseDescription {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}