.heading {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 3rem 0 1rem 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.pills {
    border: 0.1rem solid var(--primary-color);
    border-radius: 4rem;
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--text-light);
    background-color: var(--primary-color);
    cursor: pointer;
    transition: all 0.25s ease;
}

.pills:hover {
    color: var(--text-color);
    background-color: var(--primary-color-light);
}